.twenty-img {
  width: 20%;
}

.line {
  border-bottom: 1.5px solid black;
  margin: 8px 5px 8px 5px;
}


.black-border {
  border: solid black 1px;
}

.content-padding {
  padding: 15px;
}

.padding-left {
  padding-left: 60px;
}


.row-margin {
  margin: 15px 0px 15px 0px ;
  padding: 10px;
}

.center-content {
  justify-content: center;
  align-content: center;
}


.hidden {
  display: none;
}

.small-margin {
  margin: 5px;
}


.style-none {
  text-decoration: none;
}

.rem-pic {
  height: 22rem;
}

.fav-height {
  height: 7rem;
}

.welcome-bg {
  background-image: url('../Images/beer-suds-2.jpg');
  background-size: cover;
  height: 80vh;
  width: 100%;
}

.focus-border {
  border: solid blue 3px;
}

.plan-night {
  background-image: url('../Images/friends-at-dinner.jpg');
  background-size: cover;
  height: 50vh;
}

.text-line-height {
  line-height: 1.5;
}

ul {
  list-style-type: none;
}


.welcome-banner {
  background-color: lightgray;
  opacity: 80%;
  color: black;
  bottom: 15%;
  left: 10%;
  margin: 10px;
  padding: 20px;
}
