.twenty-img {
  width: 20%;
}

.img-max-twenty {
  max-width: 20%;
}


.line {
  border-bottom: 1.5px solid black;
  margin: 8px 5px 8px 5px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-content: center;
}

.black-border {
  border: solid black 1px;
}

.content-padding {
  padding: 15px;
}

.padding-left {
  padding-left: 60px;
}

/* .row {
  margin: 15px;
  padding: 10px;
} */

.row-margin {
  margin: 15px 0px 15px 0px ;
  padding: 10px;
}

.center-content {
  justify-content: center;
  align-content: center;
}


.hidden {
  display: none;
}

.small-margin {
  margin: 5px;
}

.max-height-vh {
  max-height: 100vh;
}

.style-none {
  text-decoration: none;
}

.rem-pic {
  height: 22rem;
}

.fav-height {
  height: 7rem;
}

.carousel-bg {
  background-image: url('../Images/beer-suds-2.jpg');
  background-size: cover;
  height: 80vh;
}

.focus-border {
  border: solid blue 3px;
}

.plan-night {
  background-image: url('../Images/friends-at-dinner.jpg');
  background-size: cover;
  height: 50vh;
}

.text-line-height {
  line-height: 1.5;
}

ul {
  list-style-type: none;
}
