.center-content {
  justify-content: center;
  align-content: center;
}

.flex {
  display: flex;
}

.center-self {
  align-self: center;
}

.flex-column {
  flex-direction: column;
}

.full-height-and-width {
  height: 100vh;
  width: 100%;
}

.margin-five {
  margin: 6px;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.space-evenly {
  justify-content: space-evenly;
}

.column-thirds {
  width: calc(100% / 3);
}

.top-bar{
  position: fixed;
  top: 0;
  width: 100%;
  height: 8%;
  background-color: tomato;
  display: flex;
  justify-content: flex-start;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 14%;
  background-color: tomato;
  display: flex;
  justify-content: flex-start;
}

.margin-top-bottom {
  margin: 30px 0px 30px 0px;
}

.padding-top {
  padding-top: 37px;
}

.a-style{
  text-decoration: none;
  color: black;

}

.content-padding {
  padding: 8px;
}


.line {
  border-bottom: 1.5px solid black;
  margin: 8px 5px 8px 5px;
}

.column-half {
  width: 50%;
}







/* adjust this css once top bar is fixed */

.search-placeholder {
  width: 200px;
  height: 31px;
  background-color: white;
  align-self: center;
  margin-left: 30px;
}

.hamburger-placeholder {
  width: 51px;
  height: 31px;
  background-color: white;
  align-self: center;
  margin-left: 30px;
}

.circle-big {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
}

.circle-small {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}

.col-img {
  background-color: gray;
  width: 340px;
  height: 340px;

}


.profile-img {
  background-color: gray;
  width: 170px;
  height: 170px;

}


/* end placeholders needed
